services:
  backend:
    build: ./backend
    container_name: webtempo-backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend/app
      dockerfile: Dockerfile
    container_name: webtempo-frontend
    volumes:
      - ./frontend/app:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: webtempo-redis

  mysql:
    image: mysql:8.0
    container_name: webtempo-mysql
    environment:
      MYSQL_DATABASE: webforecast
      MYSQL_ROOT_PASSWORD: 12345678
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    profiles:
      - db

volumes:
  mysql_data:
  frontend_node_modules:
