@charset "UTF-8";

:root {
    --Primary-Color: #1F2937;
    --Secundary-Color: rgb(55, 65, 81, 1);
    --links-color: #cbd5e1;
    --Secundary-Color-50-transparent: rgb(55, 65, 81, 0.5);
    --Secundary-Color-Change-Boot-Location: rgba(55, 65, 81, 0.900);
    --Background-Color:  #f8fafc;
    --Error-Color: #DC2626;

    --Secundary-Color-20-transparent: rgb(55, 65, 81, 0.20);

    --Secundary-Color-Transparent: #37415180;
    --Background-Color-Forgot-Input: #969799;

    --Primary-Blue: #3B82F6;
    --Dark-Blue: #1E40AF;
    --Light-Blue: #93C5FD;

    --Telas-Grandes: 1536px;
    --Desktop: 1280px;
    --Notebook: 1024px;
    --Tablet: 768px;
    --Mobile: 640px;

    --Primary-Font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Primary-Font);
}

