@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Primary-Color: #1F2937;
    --Secundary-Color: #374151;
    --Secundary-Color-Change-Boot-Location: rgba(55, 65, 81, 0.900);
    --Background-Color: #F3F4F6;

    --Secundary-Color-Transparent: #37415180;
    --Background-Color-Forgot-Input: #969799;

    --Primary-Blue: #3B82F6;
    --Dark-Blue: #1E40AF;
    --Light-Blue: #93C5FD;

    --Telas-Grandes: 1536px;
    --Desktop: 1280px;
    --Notebook: 1024px;
    --Tablet: 768px;
    --Mobile: 640px;

    --Primary-Font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Primary-Font);
}

